################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Palindrome/.vs/Palindrome/v15/Server/sqlite3
/Palindrome/Person/obj/Debug
/Palindrome/.vs/Palindrome/DesignTimeBuild/.dtbcache
